body {
  font-size: 10px;
}

.text-box{
  position:absolute;
  border-radius: 10%;
  top: 10%;
  left: 55%;
  width: 30%;
  height: 79%;
  text-align: center;
  font-size: 15px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  padding: 20px;
}

.text-box::after{
  content: "";
  background-color:rgba(153, 193, 226, 0.753);
  filter: blur(2px);
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
  border-radius: 10%;
}

.left-box{
  position:absolute;
  border-radius: 10%;
  top: 10%;
  left: 15%;
  width: 30%;
  height: 79%;
  display:inline-block;
}

.left-box::after {
  content: "";
  background-color:rgba(153, 193, 226, 0.753);
  filter: blur(2px);
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
  border-radius: 10%;

}

.jumbotron {
  position: relative;
  top: 58%;
  left: 50%;
  height: 60%;
  transform: translate(-50%,-50%);
  background-color: inherit;
}

.spinner-container {
  position: absolute;
  top: 7%;
  left: 40%;
  font-size: 58px;
}

.button-container {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

.centered-button {
  left: 8%;
}

.spinner {
  position: relative;
}
.spinner:before, .spinner:after {
  content: "";
  position: relative;
  display: block;
}
.spinner:before {
  animation: spinner 2.5s cubic-bezier(0.75, 0, 0.5, 1) infinite normal;
  width: 1em;
  height: 1em;
  background-color: red;
}
.spinner:after {
  animation: shadow 2.5s cubic-bezier(0.75, 0, 0.5, 1) infinite normal;
  bottom: -.5em;
  height: .25em;
  border-radius: 50%;
  background-color: rgb(0, 0, 0, 0.4);
}

@keyframes spinner {
  50% {
    border-radius: 50%;
    transform: scale(0.5) rotate(360deg);
  }
  100% {
    transform: scale(1) rotate(720deg);
  }
}
@keyframes shadow {
  50% {
    transform: scale(0.5);
    background-color: rgba(#000,0.1);
  }
}