.fs-25 {
    font-size: 40px;
    text-align: center;
    font-weight: 700;
}

.new-donation-form {
    position: relative;
    top: 50%;
    left: 4%;
    transform: translateY(12%);
}

.fs-15 {
    font-size: 15px;
}

.fs-18 {
    font-size: 16px;
}

.bg-questions {
    background-color: #dfe4ea;
}

.bg-qst {
    background-color: #ced6e0;
}

.donation-btn {
    margin: 0 auto;
    display: block;
    width: 300px;
    height: 50px;
    font-size: 16px;
    background-color: #487eb0;
    margin-bottom: 15px;
}

.modal{
    display: block;
}

.container{
    overflow: scroll;
}